<div class="container container-default">
<form class=".from-control">
  <div class="form-group">
    <label for="studentID">StudentID:</label>
    <input type="text" class="form-control" placeholder="StudentID" name="studentID" (ngModelChange)="student.studentID">
  </div>
<div class="from-group">
  <label for="FirstName">FirstName:</label>
  <input type="text" class="form-control" placeholder="StudentFirstName" name="FirstName" [(ngModel)]="student.firstName">
</div>
<div class="form-group">
  <label for="MiddleName">MiddleName:</label>
  <input type="text" class="form-control" name="MiddleName" placeholder="MiddleName" [(ngModel)]="student.middleName">
</div>
<div class="form-group">
  <label for="LastName">StudentMiddleName:</label>
  <input type="text" class="form-control" name="lastName" placeholder="lastName"[(ngModel)]="student.lastName">
</div>
<div class="form-group">
  <label for="interestedCourse">InterestedCourse:</label>
  <select type="text" name="interestedCourse" class="form-control" [(ngModel)]="student.interestedCourse">
    <option *ngFor="let course of courses">{{course}}</option>
</select>
  </div>
<button class="btn btn-primary" type="button" (click)="handleSubmit($event)">Submit</button>
</form>
</div>
<div class="float-right">
<button class="btn btn-primary" (click)="handleClick()">CustomerPage</button>
</div>
